@media screen and (min-width: 600px) {
  #stopWatch {
    height: auto;
    width: 35rem;
    background-color: darkcyan;
    /* z-index: 100; */
  }
}

.row {
  font-size: 55px;
  color: aqua;
}

.text-center {
  color: snow;
}

#start {
  font-size: 33px;
}

#stop {
  font-size: 33px;
}
#reset {
  font-size: 33px;
}
.body {
  background-color: gainsboro;
}
